@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, input {
    font-family: 'Poppins', sans-serif;
}

.container {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-color: #fff;
    overflow-y: hidden;
    overflow-x: hidden;
}

.container::before {
    content: '';
    position: absolute;
    width: 1500px;
    height: 1800px;
    border-radius: 50%;
    background: linear-gradient(-45deg, #ff9100, #fff);
    top: -90%;
    right: 60%;
    transform: translate(10%);
    z-index: 6;
    transition: 1.8s ease-in-out;
}

.forms-container {
    padding: 20px;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.treino1-treino2 {
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-50%, -50%);
    width: 50%;
    display: grid;
    grid-template-columns: 1fr;
    z-index: 5;
}

form {
    display: flex;
    align-items: center;
    justify-content: end;
    flex-direction: column;
    padding: 0 5rem;
    overflow: hidden;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

form.form-treino1 {
    z-index: 2;
}

form.form-treino2 {
    z-index: 1;
    opacity: 0;
}

.title {
    font-size: 2.2rem;
    color: #444;
    margin-bottom: 10px;
}

.treino1 {
    max-width: 380px;
    width: 100%;
    height: 50px;
    margin: 10px 0;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 15% 30%;
    padding: 0 .4rem;
}

.treino1 i{
    text-align: center;
    line-height: 55px;
    color: #ff9100;
    font-size: 1.1rem;
}

.treino1 :read-only {
    text-align: center;
}

.treino1 input {
    border: none;
    background-color: #ff9100;
    border-radius: 55px;
    font-weight: 600;
    font-size: 1.1rem;
    color: #fff;
    width: 260px;
}

.treino1 input:hover {
    background-color: #fff;
    border-color: #ff9100;
    color: #ff9100;
    cursor: pointer;
}

.treino1:target {
    background-color: #ff9100;
    border-color: #ff9100;
    color: #fff;
    cursor: pointer;
}

.btn-solid {
    width: 150px;
    height: 50px;
    border: none;
    outline: none;
    border-radius: 30px;
    cursor: pointer;
    background-color: #ff9100;
    color: #fff;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    margin: 10px;
    transition: .5s;
}

.btn-solid:hover {
    background-color: rgb(231, 163, 60);
}

.btn-solid-treino2 {
    width: 150px;
    height: 50px;
    border: none;
    outline: none;
    border-radius: 30px;
    cursor: pointer;
    background-color: #0099ff;
    color: #fff;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    margin: 10px;
    transition: .5s;
}

.btn-solid-treino2:hover {
    background-color: #60bbf7;
}

.mesage-text {
    padding: .7rem 0;
    font-size: 1rem;
    color: #ff9100;
    font-family: 'Poppins', sans-serif;
}

.mesage-text-treino2 {
    padding: .7rem 0;
    font-size: 1rem;
    color: #60bbf7;
    font-family: 'Poppins', sans-serif;
}

.treino2 {
    max-width: 380px;
    width: 100%;
    height: 50px;
    margin: 10px 0;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 15% 30%;
    padding: 0 .4rem;
}

.treino2 i{
    text-align: center;
    line-height: 55px;
    color: #0099ff;
    font-size: 1.1rem;
}

.treino2 :read-only {
    text-align: center;
}

.treino2 input {
    border: none;
    background-color: #fff;
    border-radius: 55px;
    font-weight: 600;
    font-size: 1.1rem;
    color: #0099ff;
}

.treino2 input:hover {
    background-color: #0099ff;
    border-color: #0099ff;
    color: #fff;
    cursor: pointer;
}

.panels-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.panel {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    text-align: center;
    z-index: 7;
}

.left-panel {
    pointer-events: all;
    padding: 3rem 17% 2rem 12%;
}

.right-panel {
    pointer-events: none;
    padding: 3rem 12% 2rem 17%;
}

.panel .content {
    color: #fff;
    transition: .9s .6s ease-in-out;
}

.panel h3 {
    font-weight: 600;
    line-height: 1;
    font-size: 1.5rem;
}

.panel p {
    font-size: 0.95rem;
    padding: 0.7rem 0;
}

.btn.transparent {
    margin: 0;
    background: none;
    border: 2px solid #fff;
    width: 130px;
    height: 41px;
    font-weight: 600;
    font-size: 0.8rem;
    border-radius: 30px;
    color: #fff;
    cursor: pointer;
}

.img {
    width: 100%;
    transition: 1.1s .4s ease-in-out;
}

.right-panel .content, .right-panel .img {
    transform: translateX(800px);
}

/* EFEITOS JS */

.container.treino2-mode::before {
    transform: translate(85%, 4%);
    right: 37%;
    background: linear-gradient(-45deg, #fff, #0099ff);
}

.container.treino2-mode .left-panel .img, 
.container.treino2-mode .left-panel .content {
    transform: translateX(-800px);
}